@use 'sass-themes' as theme;
@use 'scss-properties' as prop;

@layer components {
  .hanzi {
    --size: min(40vmin, 280px);
    min-width: var(--size);
    font-size: max(6rem, var(--size));
    writing-mode: vertical-rl;
    line-height: 1;
  }

  .context-3d {
    --perspective: 500px;
    --transform-style: preserve-3d;
    perspective: var(--perspective);
  }

  .flippable {
    --angle: 0deg;
    transform: translateZ(0) rotateY(var(--angle, 0deg));
    transform-style: var(--transform-style, initial);

    &__front {
      transform: translateZ(0) rotateY(0deg);
    }
    &__back {
      transform: translateZ(0) rotateY(180deg);
    }
    &__front,
    &__back {
      transform-style: var(--transform-style, initial);
      backface-visibility: hidden;
    }

    &--flipped {
      --angle: 180deg;
    }
  }

  .card {
    @apply rounded-2xl border-8;

    background-color: prop.set(--theme-bg, $mix: lightness --theme-tx 98%);
    border-color: prop.set(
      --theme-bg,
      $mix: (lightness: --theme-tx 95%, saturation: --theme-tx 90%)
    );
  }
}
