@layer components {
  .drawer {
    --handle-height: 60px;

    @apply fixed left-0 right-0;
    top: calc(100vh - var(--handle-height));

    &__handle {
      height: var(--handle-height);
      cursor: grab;
      box-shadow: 0px -2px 8px rgba(black, 0.12);

      &:active {
        cursor: grabbing;
      }
    }

    &__body {
      height: 800px;
      max-height: calc(100vh - var(--handle-height));
    }
  }
}
