@use 'tailwind' as tw;
@use 'sass-themes/mixins' as theme;
@use 'scss-properties' as prop; // dependency of sass-themes

$dark: tw.color(gray, 800);

@layer utilities {
  .theme-light {
    @include theme.create($bg: white, $tx: $dark, $br: tw.color(slate, 200));
    --theme-green: theme('colors.green.300');
    --theme-green--light: theme('colors.green.200');
    --theme-green--dark: theme('colors.green.400');
    --theme-red: theme('colors.red.300');
    --theme-red--light: theme('colors.red.200');
    --theme-red--dark: theme('colors.red.400');
  }

  .theme-dark {
    @include theme.create($bg: $dark, $tx: white, $br: tw.color(slate, 700));
    --theme-green: theme('colors.green.700');
    --theme-green--light: theme('colors.green.600');
    --theme-green--dark: theme('colors.green.800');
    --theme-red: theme('colors.red.700');
    --theme-red--light: theme('colors.red.600');
    --theme-red--dark: theme('colors.red.800');
  }
}

@layer base {
  body {
    @apply theme-light;

    @media (prefers-color-scheme: dark) {
      @apply theme-dark;
    }
  }
}

@layer components {
  .button {
    background-color: var(--theme-br);
    transition-property: background-color;

    &:hover {
      background-color: prop.scale(--theme-br, $lightness: 40%);
    }
    &:active {
      background-color: prop.scale(
        --theme-br,
        $lightness: -40%,
        $saturation: 40%
      );
    }

    &--green {
      background-color: var(--theme-green);
      &:hover {
        background-color: var(--theme-green--light);
      }
      &:active {
        background-color: var(--theme-green--dark);
      }
    }

    &--red {
      background-color: var(--theme-red);
      &:hover {
        background-color: var(--theme-red--light);
      }
      &:active {
        background-color: var(--theme-red--dark);
      }
    }
  }
}
