@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
}

@layer components {
  .button-list {
    --spacing: theme('spacing.2');
    padding-top: var(--spacing);
    padding-left: var(--spacing);

    & > * {
      margin-left: var(--spacing);
      margin-bottom: var(--spacing);
    }
  }
}
